.row {
    padding-bottom: 5%;
}

.signUp {
    text-align: center;
}

.col-1 {
    width: 50%;
}

.col-2 {
    width: 50%;
}

.col-1 img {
    width: 70%;
}

form {
    width: 50%;
    text-align: -webkit-center;
}

label {
    justify-content: center;
}

.fa {
    display: contents;
}